.footer{
    background-color: #333;
    color: #eee;
    padding: 50px;
    flex: 1;
}

.footer-index-container {
    background-color: #333;
    color: #eee;

    max-width: 960px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // flex: 1;
}

.footer-index-container > section {
    width: 33%;
}

.footer-developer-info-container,
.footer-about {
    transform: translate(25%, 0);
}

.footer-technologies-used > h1,
.footer-developer-info-content > h1,
.footer-about > h1 { 
    font-size:  20px;
    padding-bottom: 10px;
}

.footer-developer-info-list-item > a,
.footer-technologies-list > li,
.footer-about > p,
.footer-about > p > a {
    color: #999;
    font-size: 14px;
    margin-bottom: 5px;
    text-decoration: none;
}

.footer-about > p:last-child {
    display: flex;
    align-items: center;
}

.footer-developer-info-list {
    display: flex;
    flex-direction: row;

    li {
        padding: 0 5px;
    }
}

.developer-icon {
    width: 40px;
    height: 40px;
}

.copyright-icon {
    width: 15px;
    height: 15px;
}