.header {
    border-bottom: 1px solid #ccc;
    display: flex;
    width: 100%;
}

.logo {
    font-size: 25px;
    font-weight: 600;
    text-decoration: inherit;
    color: inherit;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 83px;
    width: 94%;
    margin: 0 auto;

    @media screen and (max-width: 1200px) {
        justify-content: space-between;
    }
}

.nav-links {
    display: flex;
    flex-direction: row;
    color: inherit;
    font-size: 14px;

    @media screen and (max-width: 550px) {
        display: none;
    }
}

.nav-menu {
    display: flex;
    flex-direction: row;
    width: 110px;
    align-items: center;
    justify-content: right;
}

.nav-user-icon {
    background-image: url("default_profile_image.png");
    background-color: #FFF;
    background-size: cover;

    border-radius: 80px;
    box-sizing: border-box;
    width: 56px;
    height: 56px;
    margin: 0 14px 0 0;

    box-shadow: 0 0 6px #aaa;
}

.nav-menu-icon {
    background-image: url("icons8-menu-100.png");
    background-color: #FFF;
    background-size: cover;
    box-sizing: border-box;

    width: 22px;
    height: 22px;
}

.btn {
    font-size: 14px;
    text-decoration: inherit;
    color: inherit;
    margin: 0px 10px;
    cursor: pointer;
}