// Place all the styles related to the api/hotels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hotel-listings {
    padding-bottom: 20px;
    margin: 0 auto;
    max-width: 960px;
}

.hotel-listings-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 20px 0px;
    align-items: center;
    box-sizing: inherit;

    ///border: 1px black dotted;
    border-bottom: 1px solid #ddd;
}

.hotel-listings-header > img {
    width: 140px;
    height: 140px;
    cursor: pointer;
}

.hotel-filter {
    display: inherit;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    margin-top: 15px;
    box-sizing: inherit;
}

.hotel-filter > span {
    max-width: 360px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 16px;
}

.hotel-filter > label {
    font-size: 12px;
    margin: 10px 0px;
}

.hotel-filter-input {
    min-width: 360px;
    padding: 10px 7px;
    color: #f60;
    font-size: 18px;
    margin-top: 10px;
}

a {
    text-decoration: none;
}