.hotel-details-container {
    min-height: calc(100vh - 83px);
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.hotel-details-location {
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 10px;  
    text-transform: uppercase; 
}

.hotel-details-name {
    font-size: 48px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 1.25;
}

.hotel-details-name + p {
    font-size: 12px;
    box-sizing: border-box;
}

.hotel-details-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 1.25rem;

    @media screen and (max-width: 1000px) {
        flex-direction: column;
    }
}

.hotel-content-left {
    width: 550px;
    margin-right: 22px;
    box-sizing: border-box;

    @media screen and (max-width: 1000px) {
        width: 100%;
        padding: 25px 35px 0;
    }
}

.hotel-content-left > div {
    width: 95%;
    margin: 20px auto 20px;
    line-height: 1.625rem;
    box-sizing: border-box;
}

.hotel-details-images {
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        height: auto;

        @media screen and (max-width: 1000px) {
            max-width: 600px;
            width: 75%;
        }
    }
}

.hotel-content-right {
    width: 40%;

    @media screen and (max-width: 1000px) {
        width: 100%;
        padding: 25px 35px 0;
    }
}

.hotel-details-description p::first-letter {
    font-size: 35px;
}

.hotel-details-bullets p {
    margin: 0px auto;
    line-height: 1.625rem;
}

.hotel-details-amenities h3 {
    text-transform: uppercase;
    font-weight: 600;
    margin: 3.125rem 0 1rem;
}

.hotel-amentities > li {
    line-height: 1.75rem;
}
