// Place all the styles related to the api/reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reservation-form-container {
    padding: 20px 0px;
    margin: 0 auto;
    max-width: 960px;
    margin-bottom: 250px;
    min-height: 450px;
    color: #333;

    position: relative;
}

.reservation-form-left {
    width: 60%;
    display: inline-block;
    box-sizing: border-box;
    // border: 1px dashed blue;
}

section.reservation-form-left > header > h4 {
    max-width: 480px;
    padding: 10px 0 30px;
    margin: 20px 0;
    font-size: 1.95rem;
    text-transform: capitalize;
}

div.reservation-form-main > h4 {
    max-width: 480px;
    margin: 15px 0 10px;
    font-size: 1.95rem;
    text-transform: capitalize;
}

.reservation-form-main {
    border-top: 5px solid #666;
    max-width: 480px;
    padding: 10px 0 30px;
    margin: 20px 0;
}

div.reservation-user-info {
    border: #ccc 1px solid;
    padding: 20px;
    margin: 25px 0px;
    font-size: 1.2rem;
}


div.reservation-user-info p:first-child {
    font-size: 0.7rem;
    color: #999;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.reservation-form-right {
    // border: 1px dashed green;
    width: 40%;
    box-sizing: border-box;
    display: inline-block;

    position:absolute;
    top: 25px;
    right: 0px;
    padding-top: 25px;
}

section.reservation-form-right > h4 {
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 3px;
}

section.reservation-form-right > p {
    padding: 3px 0px;
}

.edit-reservation-daterange-picker {
    // min-width: 400px;
    // max-width: 500px;
    width: 90%;
    min-width: 200px;
    border: 1px solid coral;

    background-color: #eee;
    opacity: 1;
    padding: 15px;
    margin-top: 25px;
    
}

div.edit-reservation-daterange-picker > button {
    background-color: #333;
    font-size: 16px;
    color: #fff;

    border: #333 solid 1px;
    border-radius: 30px;
    cursor: pointer;

    padding: 9px 45px;
    margin: 15px 0px;
}