.reservations-index-container {
    max-width: 960px;
    padding: 60px 0px;
    margin: 0 auto;
}

section.reservations-index-container > header > h3 {
    font-size: 1.75rem;
    margin: 0 0 20px;
    width: 90%;
}

.reservation-filter {
    width: 300px;
    border: 1px solid #ccc;
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 10px 12px 8px;
    margin: 8px 0px 50px;
}

.reservation-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 3px solid #ccc;
}

.reservation-item-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

li.reservation-item-container > div > p {
    font-size: 14px;
    line-height: 1.1rem;
}

.reservation-item-hotel {
    font-size: 1.25rem;
    line-height: 1.1rem;
    text-decoration: none;
    color: #333;
}

li.reservation-item-container > div > p:first-child {
    padding: 5px 0px;
}
