// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ******* Room Index ********* //
.rooms-index-container {
    box-shadow: 0 1px 6px #666;
    box-sizing: border-box;
}

.rooms-index-container > header {
    padding: 30px 10px;
    background-color: #333;
    font-size: 14px;
    color: #fff;
}

.rooms-index-container h3 {
    text-transform: uppercase;
    font-size: 24px;
    padding-bottom: 5px;
}

// ******* Room Item ********* //
.room-item-container {
    padding: 20px 15px;
    border-bottom: 16px solid #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.room-type {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.7rem;
    word-wrap: break-word;
}

div.room-info > p {
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 10px;
}

div.room-info > ul {
    list-style-type: square;
    margin-left: -3px;
    padding: 10px 10px 0px 20px;
    font-size: 12px;
    line-height: 18px;
}

div.room-info > button,
div.room-daterange-picker > button {
    background-color: #333;
    font-size: 14px;
    color: #fff;

    border: #333 solid 1px;
    border-radius: 30px;
    cursor: pointer;

    padding: 8px 45px;
    margin: 15px 0px;
}

section.room-photo > img {
    width: 110px;
    height: 110px;
}

.room-daterange-picker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
    max-width: 600px;
    border: 1px solid coral;

    background-color: #eee;
    opacity: 1;
    padding: 15px;

    h4 {
        font-size: 1.65rem;
        padding-bottom: 15px;
    }
}
