.search-container {
    min-height: calc(100vh - 83px);
}

.search-background {
    background-image: url("search_background_full.jpeg");
    background-color: #FFF;
    background-size: cover;
    background-position: center;
    height: 800px;

    @media screen and (max-width: 1200px) {
        background-image: url("search_background_narrow.jpg");  
    }

    @media screen and (max-width: 550px) {
        background-image: url("search_background_mobile.jpeg");
    }
}

.search-input-container {
    max-width: 580px;
    margin: 0 auto;
    box-sizing: inherit;

    position: relative;
    top: 20%;

    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1200px) {
        top: 35%;
    }

    @media screen and (max-width: 550px) {
        width: 90%;
    }
}

.search-button {
    background-color: #2a323d;
    color: #eee;
    height: 64px;
    width: 160px;
    cursor: pointer;

    border-radius: 8px;
    border-width: 0px;
    border-style: none;
    border-color: none;
    border-image: none;

    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

.search-greeting {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;

    position: relative;
    top: -20px;
    // border: 1px black dotted;
}

.search-input-field {
    border: 1px solid #eee;
    border-radius: 8px;
    height: 64px;
    margin-bottom: 10px;
    background-color: #fff;
    box-sizing: border-box;

    // position: inherit;
    top: 0px;
}

.search-input-label {
    font-size: 10px;
    text-transform: uppercase;
    margin: 2px 15px;
    padding-top: 5px;

    // position: inherit;
    top: 5px;
}

.search-input {
    width: 100%;
    padding: 10px 14px;
    background-color: #fcfcfc;

    margin-top: 2px;
    font-size: 1rem;
    margin-bottom: 0;
    border: 0px;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
}

.search-form-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 10px 0;

    p {
        font-size: 1.05rem;
        margin-top: 5px;
        line-height: 1.2rem;
    }
}

