// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-form-container {
    margin: 50px auto;
    width: 320px;
    min-height: 100vh;
    ///border: dotted 1px black;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: normal;
    // justify-content: center;
    /// text-align: center;
}

.session-form-header {
    font-size: 1.95rem;
    margin-bottom: 15px;
}

label {
    font-size: 12px;
    color: inherit;
}

label > input,
.password-input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 14px;
    font-size: 1.5rem;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.session-form-button, 
.session-demo-button {
    font-size: 1.25rem;
    background-color: #333;

    color: #fff;
    width: 100%;
    padding: 8px 30px;
    border-radius: 30px;
    margin-top: 20px;
    border: 1px solid #333;

    cursor: pointer;
}

.password-field {
    display: flex;
    flex-direction: row;
}

.password-input {
    width: 100%;
    margin-bottom: 0px;
}

.password-toggle-eye {
    ///background-image: url("password-eye-off.svg");
    background-color: #ccc;
    /// background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;

    cursor: pointer;
    padding: 0px 10px;
}

.error-messages {
    font-size: 16px;
    background-color: #ffe0e0;
    color: #950000;
    font-weight: lighter;

    padding: 8px;
    line-height: 20px;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 12px;

    box-sizing: inherit;
}