// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// For when user account info page is made - right now stays (reservations) takes the whole space instead of rendering a user container in app.jsx

.user-account-container{
    max-width: 960px;
    // padding: 60px 0px;
    margin: 0 auto;
}

.user-account-sections-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-account-navigation {
    padding: 60px 0px;

    width: 25%;
}

.user-account-main {
    width: 75%;
}